/* CSS declarations go here */
@font-face {
  font-family: 'OpenSans';
  src: url("font/OpenSans-CondLight.ttf");
}
@icon-font-path: "font/"
* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
body {
  font-family: Open Sans;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 14px;
}
.logo {
  content:url('img/logo4.png');
  height:33px;
  width:85px;
  display: block;
   margin: 0 auto;
}

.container {
margin-right:auto;
margin-left:auto;

}



.mobile-wrapper{
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background-image:url("img/login.png");
  background-size :100%;
}

.main {
  padding: 350px 50px 50px 50px;
  width:350px;
}

header {
  background: #f5d07c;
  border-bottom: 1px #a5a4aa;
  padding: 15px 10px 10px 30px;
  position: relative;
}


/* Navbar */
.navbar {
  border-radius: 0;
  margin-bottom:0;
  border:none !important;
}
.navbar-default {
  background:#61b9c1 !important;
}
.navbar-signin {
  background:none;
  padding-top:30px;
}

.navbar-signin-logo {
  margin-top:20px;
}
.navbar-brand {
  float: none;
  padding: 10px 0 8px 0;
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.dropdown-toggle {
  background-color:transparent;

}


.btn-login {
  background-color:#3cb5bd;
  color:#ffffff;
  font-size:18px;
  border-radius:0px !important;
  width:250px;
  display:block;
  margin-left:auto;
  position:relative;
  margin-right:auto;
  line-height:1.5em;

}

.btn-login:hover,.btn-register:hover {
  color:#ffffff;
}

.btn-register {
  background-color:transparent;
  color:#ffffff;
  border:2px solid !important;
  font-size:18px;
  width:250px;
  border-radius:0px !important;
  line-height:1.5em;
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}



.signin-form {
  margin-top:20px;
}


/* Signed in Navbar*/

.menu-icon {
  padding-top:15px;
  color:#ffffff;
}


.sign-in-screen{

}
