/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
    position:fixed;
    z-index:-1;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;

}
.fullscreen,
.content-a {
  margin-right:auto;
  margin-left:auto;
    max-width:600px;
    min-height:100%;
    min-width:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

.background {
  background-color:#edbf53;
}
/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}

/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    font-size:28px;
    line-height:100px;
	color:#ffffff;
    text-align:center;
}
section {
	background:#9ed100;
}
.not-fullscreen {
    height:50%;
}


/* CSS declarations go here */
@font-face {
  font-family: 'OpenSans';
  src: url("font/OpenSans-CondLight.ttf");
}
@icon-font-path: "font/"
* {
  margin: 0;
}

.logo {
  content:url('img/logo4.png');
  height:33px;
  width:85px;
  display: block;
   margin: 0 auto;
}

.container {
margin-right:auto;
margin-left:auto;
}

.navbar-default {
  background:#61b9c1 !important;
}

.navbar-signin {
  background:none;
  padding-top:30px;
}

.navbar-signin-logo {
  margin-top:20px;
}

.navbar-brand {
  float: none;
  padding: 10px 0 8px 0;
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.dropdown-toggle {
  background-color:transparent;

}

.btn-login {
  background-color:#3cb5bd;
  color:#ffffff;
  font-size:18px;
  border-radius:0px !important;
  display:block;
  margin-left:auto;
  position:relative;
  margin-right:auto;
  line-height:1.5em;

}

.btn-login:hover,.btn-register:hover {
  color:#ffffff;
}

.btn-register {
  background-color:transparent;
  color:#ffffff;
  border:2px solid !important;
  font-size:18px;
  border-radius:0px !important;
  line-height:1.5em;
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

.upper {
  margin-top:100px;
}

.error {
  color:#e78c8c;
}

/* Signed in Navbar*/
.menu-icon {
  padding-top:15px;
  color:#ffffff;
}

.popover {
  height:100px !important;
}

.custom_footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}
